<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/current.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/%d{yyyy-MM-dd_HH}.gz</fileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{0} %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.satvaimal.pdf" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

</configuration>
